/*
 *
 * @author Anderson Cravcenco
 * @version 0.1
 */

/* ======================= layout ======================= */
body{
	overflow-x: hidden;
}


/* -- Barra de Navegação -- */

nav{
	background: black;
}

nav .btn{
	background-color: rgb(255,255,255);
}

#img-back{	
	display: block;
	width: 100%;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255,255,255);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(255,255,255,.5);
}

/* -- Conteúdo do Site -- */

.quadradin{
	background: url(img/quadrado.jpg);
	border: solid rgba(0,0,0,.1);
	width: 100%;
	margin: 20px 130px 20px 130px;
}

.quadradin2{
	background: url(img/quadrado2.jpg);
	border: solid rgba(0,0,0,.1);
	width: 100%;
	margin: 20px 130px 20px 130px;
}

.texto-centro{
	text-align: center;
}

/* ======================= Tipografia ======================= */

.texto-nav{
	font-family: Open Sans,sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 15px;
	letter-spacing: .34em;
	text-transform: uppercase;
	padding-top: 12px !important;
	text-shadow: -2px black, 2px black, 2px black, -2px black;
}

.texto-pag-h1{
	font-family: Playfair Display;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
}

.texto-pag-h2{
	font-family: Verdana,Geneva,sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .03em;
    color: #7d7d7d;
    font-size: 20px;
    line-height: 1.6em;
    margin-bottom: 35px;
    text-align: center;
}

.texto-pag-h3{
	font-family: Open Sans,sans-serif;
	font-weight: 300;
	font-size: 30px;
	text-transform: uppercase;
	margin-bottom: 25px;
	text-align: center;
}
.texto-pag-h4{
	font-family: Verdana,Geneva,sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .03em;
    color: #7d7d7d;
    font-size: 15px;
    line-height: 1.6em;
    margin-top: 35px;
    text-align: center;
}

.links-footer a{
	font-family: din-condensed-web;
	font-weight: 300;
	font-style: normal;
	font-size: 17px;
	text-align: center;
	margin-top: 20px;
	color: #000;
	text-transform: uppercase;
	letter-spacing: .03em;
	padding-right: 1em;
	display: inline-block;
	transition: color .15s ease-out;
	background-color: transparent;
	cursor: pointer;
}

.links-footer a:hover{
	color: rgba(0,0,0,.5);
	text-decoration: none;
}

.links-footer a:visited{
	text-decoration: none;
}

.links-footer a:active{
	text-decoration: none;
}

.cardapio-h1{
	font-family: din-condensed-web;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    letter-spacing: .15em;
    line-height: 1.7em;
    text-transform: uppercase;
}

.cardapio-h3{
	font-family: calluna;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    letter-spacing: .1em;
    line-height: 1.9em;
    text-transform: uppercase;
}

.cardapio-p{
	font-family: Verdana,Geneva,sans-serif;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: .03em;
    line-height: 2em;
    text-transform: none;
    color: #949494;
}



/* ======================= MQuerys ======================= */